.container__arrow {
    width: fit-content;
}

.scrollTop {
    position: fixed; 
    height: 40px;
    width: 40px;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
}

.scrollTop:hover{
opacity: 1;
}
  
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 0.5;
}
}